/* General container styling */
.container {
  padding: 20px;
}

/* General card styling */
.card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* Adjusted max-width for a more balanced card */
  width: 100%; /* Ensure the card takes the full width of its container */
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff; /* White background for cards */
}

/* Card header styling */
.card-header {
  background-color: #007bff; /* Blue background for header */
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #dee2e6; /* Add border to separate header */
}

/* Card body styling */
.card-body {
  padding: 20px;
  background-color: #f8f9fa; /* Light grey background for card body */
  color: #343a40;
}

/* Card titles */
.card-title {
  color: #007bff; /* Blue color for titles */
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Button styling */
.btn-primary {
  background-color: #5799df;
  border-color: #1767be;
  border-radius: 5px;
  color: #bb1c1c;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #004085;
  border-color: #004085;
}

.btn-secondary {
  background-color: #5799df;
  border-color: #1767be;
  border-radius: 5px;
  color: #9c3f3f;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #004085;
  border-color: #004085;
}

/* List group item styling */
.list-group-item {
  background-color: #ffffff; /* White background for list items */
  color: #343a40;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
