/* Define CSS variables for light mode */
:root {
  --bg-color: #ffffff;
  --navbar-bg-color: #f8f9fa; 
  --navbar-text-color: #343a40;
  --card-bg-color: #ffffff;
  --card-header-bg-color: #007bff;
  --card-header-text-color: #fff;
  --card-body-bg-color: #f8f9fa;
  --card-body-text-color: #343a40;
  --btn-primary-bg-color: #5799df;
  --btn-primary-border-color: #1767be;
  --btn-primary-text-color: #bb1c1c;
  --btn-secondary-bg-color: #5799df;
  --btn-secondary-border-color: #1767be;
  --btn-secondary-text-color: #9c3f3f;
  --list-group-item-bg-color: #ffffff;
  --list-group-item-text-color: #343a40;
  --list-group-item-border-color: #ddd;
  --crypto-item-text-color: #343a40;
  --crypto-heading-text-color: #343a40;
}

/* Define CSS variables for dark mode */
.dark-mode {
  --bg-color: #343a40;
  --navbar-bg-color: #424242; 
  --navbar-text-color: #ffffff; 
  --card-bg-color: #424242;
  --card-header-bg-color: #555555;
  --card-header-text-color: #ffffff;
  --card-title-text-color: #ffffff;
  --card-body-bg-color: #4f4f4f;
  --card-body-text-color: #f9f7f7;
  --btn-primary-bg-color: #bb1c1c;
  --btn-primary-border-color: #bb1c1c;
  --btn-primary-text-color: #ffffff;
  --btn-secondary-bg-color: #9c3f3f;
  --btn-secondary-border-color: #9c3f3f;
  --btn-secondary-text-color: #ffffff;
  --list-group-item-bg-color: #555555;
  --list-group-item-text-color: #767182;
  --list-group-item-border-color: #777777;
  --crypto-item-text-color: #f9f7f7;
  --crypto-heading-text-color: #f9f7f7;
}

/* Set body and html to take full height and remove default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* General container styling */
.container {
  padding: 20px;
  background-color: var(--bg-color);
  min-height: 100vh; 
  min-width: 100vw;
  box-sizing: border-box; 
}

/* General card styling */
.card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  background-color: var(--card-bg-color); 
}

.card-header {
  background-color: var(--card-header-bg-color); 
  color: var(--card-header-text-color);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Playwrite DE Grund', sans-serif;
  border-bottom: 1px solid #dee2e6; 
}

.card-body {
  padding: 20px;
  background-color: var(--card-body-bg-color); 
  color: var(--card-body-text-color);
}

.card-title {
  color: var(--card-title-text-color); 
  margin-bottom: 15px;
}

/* Button styling */
.btn-primary {
  background-color: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-border-color);
  border-radius: 5px;
  color: var(--btn-primary-text-color);
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #004085;
  border-color: #004085;
}

.btn-secondary {
  background-color: var(--btn-secondary-bg-color);
  border-color: var(--btn-secondary-border-color);
  border-radius: 5px;
  color: var(--btn-secondary-text-color);
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #004085;
  border-color: #004085;
}

.button-spacing {
  margin-right: 27px; 
}

/* List group item styling */
.list-group-item {
  background-color: var(--list-group-item-bg-color); 
  color: var(--list-group-item-text-color);
  border: 1px solid var(--list-group-item-border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Navbar styling */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.navbar-brand {
  font-family: 'Playwrite DE Grund', sans-serif; 
  font-size: 1.5rem; 
  color: var(--navbar-text-color);
}

.nav-link {
  color: var(--navbar-text-color);
  font-family: 'Playwrite DE Grund', sans-serif;
}

.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.active {
  color: var(--navbar-text-color) !important;
  background-color: var(--navbar-bg-color);
}

.navbar-text {
  margin-right: 15px;
}

.crypto-container {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for the cryptocurrency heading */
.crypto-heading {
  text-align: center;
  font-family: 'Playwrite DE Grund', sans-serif; 
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--crypto-heading-text-color);
}


.crypto-list {
  list-style-type: none;
  padding: 0;
}

.crypto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--list-group-item-border-color);
  border-radius: 5px;
  color: var(--crypto-item-text-color);
}
